{{#with data}}
    <div class='featured_card'>
        <img
            src='{{photo}}'
            alt='example photo'
            class='featured_photo'
        />
        <h2 class='featured_title'>{{heading}}</h2>
        <p class='featured_info'>{{info}}</p>
        <a
            href='{{link}}'
            class='featured_link'
        >{{linkText}}</a>
    </div>
{{/with}}